<html>
    <head>
        <title>Todo App</title>
        <style>
          .hidden {
            display: none;
          }
          ul {
            list-style: none;
            padding: 0;
            margin: none;
            width: 300px;
          }
          li {
            clear: both;
          }
          li button {
            -webkit-appearance: none;
            border: none;
            outline: none;
            color: red;
            float: right;
            cursor: pointer;
            font-size: 20px;
            background-color: white;
          }
        </style>
    </head>

    <body>
        <form id="form">
          <input type="text" id="description" name="description" />
          <input type="submit" name="Create" />
        </form>

        <div id="error" class="hidden">Something went wrong!</div>
        
        <ul id="todo">
          {% for item in data %}
          <li> 
          <input class='check-completed' id='check-box' data-id='{{ item.id }}' type='checkbox' {% if item.completed %} checked {% endif %}> {{ item.description }} 
          <button class='remove-todo' id='delete-button' data-id='{{ item.id }}'> &cross; </button>
          </li>
          {% endfor %}
        </ul>

        <script type="text/javascript">
          crossbuttons = document.querySelectorAll('.remove-todo');
          for (let i = 0; i < crossbuttons.length; i++) {
            const crossbutton = crossbuttons[i];
            crossbutton.onclick = function(e) {
              console.log('event', e);
              const todoId = e.target.dataset['id'];
              fetch('/todo/' + todoId, {
                method: 'DELETE',
              })
              .then(function () {
                document.getElementById('error').className='hidden';
              })
              .catch(function() {
              document.getElementById('error').className = '';
            })
            }
          };

          checkboxes = document.querySelectorAll('.check-completed');
          for (let i = 0; i < checkboxes.length; i++) {
            const checkbox = checkboxes[i];
            checkbox.onchange = function(e) {
              const newCheckedStatus = e.target.checked;
              const todoId = e.target.dataset['id'];
              fetch('/todo/' + todoId + '/set-completed', {
                method: 'POST',
                body: JSON.stringify({
                  'completed': newCheckedStatus,
                }),
                headers: {
                  'Content-Type': 'application/json',
                }
              })
            }
          };

          const descInput = document.getElementById('description');
          document.getElementById('form').onsubmit = function(e) {
            e.preventDefault();
            const new_todo = descInput.value;
            descInput.value = '';
            fetch('/todo/create', {
              method: 'POST',
              body: JSON.stringify({
                'description': new_todo,
              }),
              headers: {
                'Content-Type': 'application/json',
              }
            })
            .then(function(response) {response.json()})
            .then(function(jsonResponse) {
              console.log(jsonResponse);
              
              li = document.createElement('li');
              
              const checkbox = document.createElement('input');
              checkbox.className = 'check-completed';
              checkbox.type = 'checkbox';
              checkbox.setAttribute('data-id', jsonResponse.id);
              li.appendChild(checkbox);

              // const text = document.createTextNode(' ' + jsonResponse.description);
              // li.appendChild(text); 
              // li.innerHTML = jsonResponse.description;

              const deleteButton = document.createElement('button');
              deleteButton.className = 'remove-todo';
              deleteButton.setAttribute('data-id', jsonResponse.id);
              deleteBtn.innerHTML = '&cross;';
              li.appendChild(deleteButton);

              document.getElementById('todo').appendChild(li);
              document.getElementById('error').className = 'hidden';
            })
            .catch(function() {
              document.getElementById('error').className = '';
            })
          };

        </script>

    </body>
</html>