<html>
    <head>
        <title>Todo App</title>
        <style>
          .hidden {
            display: none;
          }
          ul {
            list-style: none;
            padding: 0;
            margin: none;
            width: 300px;
          }
          li {
            clear: both;
          }
          li button {
            -webkit-appearance: none;
            border: none;
            outline: none;
            color: red;
            float: right;
            cursor: pointer;
            font-size: 20px;
            background-color: white;
          }
          .lists-wrapper, .todos-wrapper {
            display: inline-block;
            vertical-align: top;
          }
        </style>
    </head>

    <body>
      <div class="lists-wrapper">
        <h4>Todo Lists</h4>

        <form id="create-list-form">
          <input type="text" id="list-name" name="list-name" />
          <input type="submit" name="create list" />
        </form>

        <div id="list-error" class="hidden">Something went wrong!</div>

        <ul id="lists">
          {% for list in lists %}
          <li>
            <input class='check-completed-list' data-id='{{ list.id }}' type='checkbox' {% if list.completed %} checked {% endif %}> 
            <a href="/list/{{ list.id }}">
              {{ list.name }}
              <button class='delete-list' data-id='{{ list.id }}'> &cross; </button>
            </a>
          </li>
          {% endfor %}
        </ul>
        </div>
        <div class="todos-wrapper">
          <h4>{{ active_list.name }}</h4>

          <form id="create-todo-form">
            <input type="text" id="description" name="description" />
            <input type="submit" name="create todo" />
          </form>

        <div id="error" class="hidden">Something went wrong!</div>
        
        <ul id="todo">
          {% for todo in todos %}
          <li> 
          <input class='check-completed-todo' data-id='{{ todo.id }}' type='checkbox' {% if todo.completed %} checked {% endif %}> 
          {{ todo.description }} 
          <button class='delete-todo' data-id='{{ todo.id }}'> &cross; </button>
          </li>
          {% endfor %}
        </ul>

        <script type="text/javascript">
          // Todo Lists
          // create list
          const listInput = document.getElementById('list-name');
          document.getElementById('create-list-form').onsubmit = function(e) {
            e.preventDefault();
            const listName = listInput.value;
            listInput.value = '';
            fetch('/list/create', {
              method: 'POST',
              body: JSON.stringify({
                'name': listName
              }),
              headers: {
                'Content-Type': 'application/json',
              }
            })
            .then(response => response.json())
            .then(jsonResponse => {
              const listName = jsonResponse.name;
              const listId = jsonResponse.id;
              const liList = document.createElement('li');
              
              liList.innerHTML = jsonResponse['name'];

              document.getElementById('lists').appendChild(liList);
              document.getElementById('list-error').className = 'hidden';
              window.location.reload(true);
            })
            .catch(function() {
              console.error('Error occurred');
              document.getElementById('list-error').className = '';
            })
          };

          // mark list as completed or incompleted
          listCheckboxes = document.querySelectorAll('.check-completed-list');
          for (let i = 0; i < listCheckboxes.length; i++) {
            const listCheckbox = listCheckboxes[i];
            listCheckbox.onchange = function(e) {
              const newListCheckedStatus = e.target.checked;
              const listId = e.target.dataset['id'];
              fetch('/list/' + listId + '/set-completed', {
                method: 'POST',
                body: JSON.stringify({
                  'completed': newListCheckedStatus,
                }),
                headers: {
                  'Content-Type': 'application/json',
                }
              })
            }
          };

          // delete list
          deleteListButtons = document.querySelectorAll('.delete-list');
          for (let i = 0; i < deleteListButtons.length; i++) {
            const deleteListButton = deleteListButtons[i];
            deleteListButton.onclick = function(e) {
              console.log('event', e);
              const listId = e.target.dataset['id'];
              fetch('/list/' + listId, {
                method: 'DELETE',
              })
              .then(function () {
                document.getElementById('list-error').className='hidden';
              })
              .catch(function() {
              document.getElementById('list-error').className = '';
            })
            }
          };


          // TODOs
          // delete todo
          deleteTodoButtons = document.querySelectorAll('.delete-todo');
          for (let i = 0; i < deleteTodoButtons.length; i++) {
            const deleteTodoButton = deleteTodoButtons[i];
            deleteTodoButton.onclick = function(e) {
              console.log('event', e);
              const todoId = e.target.dataset['id'];
              fetch('/todo/' + todoId, {
                method: 'DELETE',
              })
              .then(function () {
                document.getElementById('error').className='hidden';
              })
              .catch(function() {
              document.getElementById('error').className = '';
            })
            }
          };

          // mark todo as completed or incompleted
          todoCheckboxes = document.querySelectorAll('.check-completed-todo');
          for (let i = 0; i < todoCheckboxes.length; i++) {
            const todoCheckbox = todoCheckboxes[i];
            todoCheckbox.onchange = function(e) {
              const newTodoCheckedStatus = e.target.checked;
              const todoId = e.target.dataset['id'];
              fetch('/todo/' + todoId + '/set-completed', {
                method: 'POST',
                body: JSON.stringify({
                  'completed': newTodoCheckedStatus,
                }),
                headers: {
                  'Content-Type': 'application/json',
                }
              })
            }
          };

          // create new todo 
          const descInput = document.getElementById('description');
          document.getElementById('create-todo-form').onsubmit = function(e) {
            e.preventDefault();
            const desc = descInput.value;
            descInput.value = '';
            fetch('/todo/create', {
              method: 'POST',
              body: JSON.stringify({
                'description': desc,
                'list_id': '{{ active_list.id }}',
              }),
              headers: {
                'Content-Type': 'application/json',
              }
            })
            .then(response => response.json())
            .then(jsonResponse => {
              const li = document.createElement('li');
              const checkbox = document.createElement('input');
              checkbox.className = 'check-completed';
              checkbox.type = 'checkbox';
              checkbox.setAttribute('data-id', jsonResponse.id);
              li.appendChild(checkbox);

              const text = document.createTextNode(' ' + jsonResponse.description);
              li.appendChild(text);

              const deleteBtn = document.createElement('button');
              deleteBtn.className = 'delete-todo';
              deleteBtn.setAttribute('data-id', jsonResponse.id);
              deleteBtn.innerHTML = '&cross;';
              li.appendChild(deleteBtn);

              document.getElementById('todo').appendChild(li);
              document.getElementById('error').className = 'hidden';
            })
            .catch(function() {
              console.error('Error occurred');
              document.getElementById('error').className = '';
            })
          }
          ;
        </script>

    </body>
</html>